body {
  background-color: #2d3138;
  color: #ffffff;
  font-size: 16px;
}

figcaption {
  color: #afafaf;
  font-size: 1.2em;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  font-size: 2.5em;
  margin-top: 1em;
  text-align: center;
  text-transform: capitalize;
}

h3 {
  font-size: 1.8em;
  margin-top: 1em;
  text-align: center;
}

nav {
  background-color: rgba(0,0,0,.75);
  float: left;
  position: fixed;
  width: 100%;
}

a:link {
  color: #a1e0ff;
  font-size: 1.3em;
  text-decoration: none;
}

a:visited {
  color: #a1e0ff;
}

a:hover {
  color: #ffffff;
}

.author {
  font-size: 1.5em;
  color: #afafaf;
  text-align: center;
}

.logo {
  margin: 20px;
  width: 100px;
}

.large-pic {
  width: 100%;
}

.medium-pic {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.left, .right {
  float: left;
  width: 50%;
}

.right {
  float: right;
}

.story-text {
  margin-top: 2em;
}

ul {
  list-style-type: none;
  float: right;
}

li {
  float: right;
  padding: 30px;
}

article {
  padding-top: 100px;
}

.container {
  margin: 0 auto;
  width: 50%;
}

p {
  font-size: 1.1em;
  font-weight: 100;
  margin-bottom: 0.75em;
  text-indent: 2em;
}
